body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
    color: white;
    display: grid;
    grid-template-rows: 90px 1fr 200px 50px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
}
@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
header {
    grid-row: 1;
    grid-column: 1 / span 5;
    font-size: 90%;
  }
  h1 {
      margin-top: 45px;
      
  }
  h2 {
    float: left;
    margin: auto;
  }
    nav {
        float: right;
        margin: 5px auto;        
    }
        a:hover {
            color: #2F8CAB;
            transition-duration: 0.5s;
        }
        a {
            text-decoration: none;
            color: white;
            font-weight: lighter;
        }

main h3 {
    height: 40px;
}
    main.Nintendo {
        grid-row: 2;
        grid-column: 1;
    }
    main.Zelda {
        grid-row: 2;
        grid-column: 2;
    }
    main.Pokemon {
        grid-row: 2;
        grid-column: 3;
    }
    main.Smash {
        grid-row: 2;
        grid-column: 4;
    }
    main.Mature {
        grid-row: 2;
        grid-column: 5;
    }
        main button {
            display: block;
            margin: 20px auto;
            width: 90%;
            height: 90px;
            font-size: larger;
            font-weight: lighter;
            border-radius: 24px;
            font-family: 'Raleway', sans-serif;
            transition-duration: 0.4s;
            background-color: rgb(235, 233, 233);
        }
        h4 {
            font-weight: lighter;
        }
        .modal {
            display: none;
            position: fixed; 
            z-index: 1;
            padding-top: 25px;
            left: 0; 
            top: 0;
            width: 100%;
            height: 100%; 
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.5);
            animation-name: fadeIn;
            animation-duration: 1s;
        }
            .modal-shape {
                position: relative; 
                margin: auto;
                background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
                background-size: 400% 400%;
                animation: gradient 16s ease infinite;
                width: 75%;
                border-radius: 24px;
            }
          .modal-header {
              color: white;
              border-radius: 24px 24px 0 0;
              padding: 20px; 
              margin: auto; 
              width: 75%;  
            }
          .modal-content {
              position: relative; 
              color: white;
              border-radius: 0 0 24px 24px;
              padding: 20px; 
              margin: auto; 
              width: 75%;  
            }
          div button {
              width: 40%;
              display: inline-block;
              margin: 10px;
          }
          .modal-footer {
              display: none;
              position: relative;
              color: white;
              border-radius: 0 0 24px 24px;
              padding: 20px; 
              margin: auto; 
              width: 75%;  
          }
          .close-btn {
              float: right; 
              margin: 2% 3%;
              color: lightgray; 
              font-size: 24px;  
              font-weight: bold;
            }
            .close-btn:hover {
              color: darkgray;
              cursor: pointer;
            }

section.final {
    grid-row: 3;
    grid-column: 1 / span 5;
    display: block;
}
section button {
    cursor: pointer;
    width: 100%;
    height: 100px;
    border-radius: 24px;
    margin: 10px auto;
    transition-duration: 0.4s;
    background-color: rgb(235, 233, 233);
    font-weight: lighter;
    font-size: larger;
    font-family: 'Raleway', sans-serif;
}

#score {
    display: block;
    margin: 20px auto;
    width: 30%;
    height: 50px;
    border-radius: 24px;
    transition-duration: 0.4s;
    background-color: rgb(235, 233, 233);
    font-family: 'Raleway', sans-serif;
}

footer {
    grid-row: 4;
    grid-column: 1 / span 5;
}
    p {
        float: left;
        margin: auto; 
    }
    footer nav {
        float: right;
        margin: auto;
    }
        #aboutMe:hover {
            cursor: pointer;
            transition-duration: 0.5s;
            }
        .about {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            animation-name: fadeIn;
            animation-duration: 1s;
        }
        
        .about-content {
            position: relative;
            margin: 30% 0%;
            border-radius: 24px;
            padding: 15px 15px 200px 15px;
        }
        .close {
            float: right; 
            color: lightgray; 
            font-size: 24px;  
            font-weight: bold;
          }
          .close:hover {
            color: darkgray;
            cursor: pointer;
          }

  @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }
  .about img {
      width: 40%;
      margin: 10px;
  }
.win {
    background-color: #2F8CAB;
    color: white;
    cursor: not-allowed;
}
.lose {
    background-color: rgb(218, 96, 49);
    color: white;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.85;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.game_over {
    background: linear-gradient(-45deg, black, purple, black);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;    
}
    .game_over a {
        color: white;
    }
    .game_over .modal-shape {
        background: linear-gradient(-45deg, black, purple, black);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;  
    }
.great {
    background: linear-gradient(-45deg, cyan, magenta, yellow);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
}

    .great .modal-shape {
        background: linear-gradient(-45deg, cyan, magenta, yellow);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
.incredible {
    background: linear-gradient(-45deg, red, green, blue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: black;
}
    .incredible .modal-shape {
        background: linear-gradient(-45deg, red, green, blue);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

  @media only screen and (max-width: 760px) {
    body {
    background-color: linen;
    color: black;
    display: grid;
    grid-template-rows: 70px 1fr 150px 50px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: lighter;
    -webkit-text-size-adjust: none;
}
      h1 {
          margin-top: 30px;
          display: block;
          font-size: 120%;
      }
      h2 {
        float: left;
        margin-top: 5px;
        font-size: 90%;
      }
        nav {
            float: right;
            font-size: 85%;    
        }
            a:hover {
                color: #2F8CAB;
            }
            a {
                text-decoration: none;
                color: rgb(100, 100, 100);
                font-weight: lighter;
            }
    main h3 {
        font-size: 10px;
        height: 30px;
    }
    main button {
        width: 90%;
        height: 60px;
        font-size: 90%;
        font-weight: lighter;
        border-radius: 12px;
        margin: 10px auto;
    }
    section button {
        width: 100%;
        height: 60px;
        margin: 4px auto;
        border-radius: 24px;
        font-size: smaller;
    }

    #score {
        margin: 8px auto;
        font-weight: lighter;
        border-radius: 12px;
    }
    p {
        font-size: 12px;
    }
    footer nav {
        font-size: 12px;
    }
}